SPF validation broken

One of the recent pull requests has broken validation of SPF records, e.g.

```
The following record failed validation:
ADD @ 3600 TXT v=spf1 mx -all
```

Quoting the TXT contents allows the record to pass validation, but this results in an invalid SPF record getting into the DNS.


As far as I can tell, the source of this bug is in the `validate_zone_record` function, specifically these two lines:

```
elif record_type == "TXT":
                return fields == 1
```

`fields` is set to the length of the text after `TXT`, which is tokenised using whitespace as the separator, unless the text is quoted. In a BIND/RFC file the contents of a TXT record *must* (?) be quoted, but in Mythic Beasts commands the contents *must not* be quoted (if they are quoted, the quotes will be treated as literals which are part of the record contents).

SPF TXT records should be in quotes, according to RFC. https://tools.ietf.org/html/rfc7208#page-11

Moreover, in RFC7208 section 3.3 it does say that individual character strings (eg. unquoted) should be concatenated _without_ inserting spaces between the strings. Passing unquoted strings makes for incorrect SPF records.

eg.
```
nowster.org.uk.         10800   IN      TXT     "v=spf1 +mx -all"
```
is right, but

```
nowster.org.uk.         10800   IN      TXT     v=spf1 +mx -all
```

results in the TXT record being treated as `=spf1+mx-all` (no spaces), which is wrong.

Nothing in the [Mythic Beasts Primary DNS API](https://www.mythic-beasts.com/support/api/dns) says they'll add extra quotes to TXT records. Have you raised a bug with them?

I agree that the SPF TXT records should be in quotes, however as far as I can tell Mythic Beasts quote the records on their end, so if we send quoted records they'll end up double-quoted. I'll send them an email this afternoon to see if this is a bug on their end.

If we're asking for API to be modified, can we just ask for an endpoint you can post an entire zonefile to? ;)

Looking at the Mythic control panel, I think this is intentional behaviour rather than a bug (as they will see it). If I try and create a TXT record with quotes via the control panel I get the following message:

`WARNING: TXT data will be interpreted as "\"v=spf1 mx -all\"". Omit the quotes if that's not what you intended.`

I don't think there is any way to fix this on their side without it breaking their control panel and API for other customers who have got used to the automatic quoting behaviour. I think for now I'll merge in #21 to 'fix' the validation and then look at doing some post-validation transforms on TXT records to remove any surrounding quotes before the records are sent to Mythic Beasts, so that users can quote or not quote as they wish.