IPv6 addresses are case-sensitive in AAAA records with --diff

I have the following record in my zone file:

`@ 3600 AAAA 2001:DB8::`

If I run the script with `--diff` the output is:

```
DELETE @ 3600 AAAA 2001:db8::
ADD @ 3600 AAAA 2001:DB8::
```

Because the address returned via LIST is in lowercase, it does not match any of the records in my zone file, so it is deleted. Likewise, the record in my zone file doesn't match anything in LIST, so it is added.

Strictly speaking, IPv6 addresses are case-insensitive, however RFC 5952 section 4.3 states:

> The characters "a", "b", "c", "d", "e", and "f" in an IPv6 address MUST be represented in lowercase.

RFC 5952 is mainly concerned with displaying textual representations of IPv6 addresses, but if we are going to pick a rule for consistency we should probably follow the RFC.

There are three ways we could address this problem:

 1. Convert IPv6 addresses to lowercase before processing.
 1. Use a case-insensitive comparison in `--diff`.
 1. Fail validation on IPv6 addresses containing uppercase characters.

The first option is the simplest to implement, and should not break any existing zone files. The third option is perhaps better from a compliance perspective, because we are forcing users to follow the relevant RFCs and not silently adjusting their records before sending (even though this adjustment doesn't change the result). However, this may break existing zone files and so should only be included in a major version bump.

I am going to leave this issue open for a while in case anyone else has comments to add. I am minded to go with the third option and roll this change into the 2.0.0 release.

Regardless of which option is chosen, we'll need to add unit tests for both success and failure.

Going to close this for now - the workaround is to use lowercase IPv6 addresses (as per the RFC 5952) as that means your zone file and LIST will match. If you decide to ignore the RFC, you'll get noisy output when using `-diffs`.