Allow underscore in labels

The validator does not permit underscores in labels. RFC 1035 section 2.3.1 does say "The labels must follow the rules for ARPANET host names". However, these are used in TXT, SRV and other record types, as per [this link](http://domainkeys.sourceforge.net/underscore.html).

Simple fix patch:

```
diff --git a/zone_validate.py b/zone_validate.py
index 115537e..622548e 100644
--- a/zone_validate.py
+++ b/zone_validate.py
@@ -26,7 +26,7 @@ def is_valid_label(label, strict=True):
     if label.endswith("-"):
         return False
     # Check for forbidden characters
-    match = re.search(r"[^a-zA-Z0-9-]", label)
+    match = re.search(r"[^a-zA-Z0-9-_]", label)
     return match is None
```

That's odd, I have labels containing underscores and they seem to work, though I haven't gone through the full validation code to check. Do you have an example of a label that doesn't work so I can reproduce this?

We had an AWS validation token that looked like:

`_randomstring.subdomain 300 CNAME _randomstring.randomstring.acm-validations.aws.`

That function was rejecting `_randomstring.subdomain` for containing an underscore.

I've found the source of the problem, and why it wasn't failing for me. The `validate_tokens` function sets `strict_name` to `True`, unless the record type is TXT or SRV, and I was only using underscores in TXT records. I can't think of any issue with tweaking the regex as per your patch, so I'll add a test and then get a new release pushed out.

Having run the test suite, patching the regex will not work as it will allow through records like this:

`_host 10 A 12.13.24.15`

which will be rejected by the Mythic Beasts API:

`NADD _host 10 A 12.13.24.15;Invalid hostname (must be "@", "*" or only contain a-z, 0-9, - and .)`

I think the only solution which allows your use case and doesn't cause other invalid records to get through is to make `CNAME` records 'not strict', in the same way as TXT and SRV. All the tests continue to pass if I do this as well.

Fix released as 1.5.0. Thanks for the report!

Also added side effect of this fix is that you can now have CNAME labels which begin with a number, which was not permitted before but is considered valid by the Mythic Beasts API…

This appears to still be failing with the above aws-type CNAME records:

```
Error: Record failed validation in _d116ebb575717ff048d6863ef27f41c0.campaigns 300 CNAME _88686c5d780ef04c5719a8b22353ea11.bsgbmzkfwj.acm-validations.aws.
```

`is_valid_target` is failing for the above even if strict is false

```
diff --git a/zone_validate.py b/zone_validate.py
index 8bd1567..a320342 100644
--- a/zone_validate.py
+++ b/zone_validate.py
@@ -60,7 +60,7 @@ def is_valid_name(name, strict=True):
 
 def is_valid_target(name, strict=False):
     """Check that the target of a RR is valid"""
-    if not is_valid_domain(name):
+    if not is_valid_domain(name, strict=strict):
         return False
     if strict and not name.endswith("."):
         print(
```

appears to fix it.

That patch is against 1.5.0, but appears to apply and work fine against 3.0.0

I've had a quick look at this and:

1. I can reproduce the issue in 3.0.0 - I can't see anything invalid about the record you've provided but it is rejected.
2. Your patch does allow the record through, and therefore fixes the issue.

However, the patch does also cause 4 of the unit tests to fail, namely:

- test_is_valid_zone_record_srv_bad
- test_validate_zone_record_aname
- test_validate_zone_record_cname
- test_validate_zone_record_ns

So the two possibilities that I can see are either that the tests need to be updated, or we need a slightly different way of fixing the problem to allow this record through.

Re-opening as this issue wasn't completely fixed by 30913d4.

Trying to narrow down the problem:

`_d116ebb575717ff048d6863ef27f41c0.campaigns 300 CNAME something.example.com.`: Passes validation.

`_d116ebb575717ff048d6863ef27f41c0.campaigns 300 CNAME _88686c5d780ef04c5719a8b22353ea11.example.com.`: Fails validation.

`_d116ebb575717ff048d6863ef27f41c0.campaigns 300 CNAME c5d780ef9a8b.example.com.`: Passes validation.

`_d116ebb575717ff048d6863ef27f41c0.campaigns 300 CNAME 5d780ef9a8b.example.com.`: Fails validation.

So if the target of the CNAME starts with a number or an underscore, validation will fail.

The number failure is *definitely* wrong, since you could legitimately have a CNAME that points to another name which starts with a number (e.g. 111.nhs.uk). Also, doing a bit of poking around, it turns out that you can't have a record like this:

`111 A 300 127.0.0.1`

So that is one part of the bug, which I've separated off to #48.

What I'm not sure about is whether you can have a CNAME point to something which starts with an underscore. As explored earlier in the thread, you can't upload a record like this:

`_host 10 A 12.13.24.15`

I don't know if that is a DNS restriction or a Mythic Beasts restriction. However, if you can't have an A record where the hostname starts with an underscore, it might also be a bad idea to have a CNAME target which starts with an underscore, although I suppose you could have a CNAME which points to a CNAME which points to an A record.

Not sure how best to fix this - I prefer the validation to be as tight as possible but at the moment it seems to be too restrictive. Let me do some digging to find out what the rules are for various DNS records.

I'm not sure if CNAME targets starting with an underscore are valid
rules-as-written, but given they're being used by amazon certificate
manager in this way its a moot point really :/

https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html

On Tue, Oct 13, 2020 at 8:06 PM Paul Waring <notifications@github.com>
wrote:

> The number failure is *definitely* wrong, since you could legitimately
> have a CNAME that points to another name which starts with a number (e.g.
> 111.nhs.uk). Also, doing a bit of poking around, it turns out that you
> can't have a record like this:
>
> 111 A 300 127.0.0.1
>
> So that is one part of the bug, which I've separated off to #48
> <https://github.com/pwaring/dns-sync-zone/issues/48>.
>
> What I'm not sure about is whether you can have a CNAME point to something
> which starts with an underscore. As explored earlier in the thread, you
> can't upload a record like this:
>
> _host 10 A 12.13.24.15
>
> I don't know if that is a DNS restriction or a Mythic Beasts restriction.
> However, if you can't have an A record where the hostname starts with an
> underscore, it might also be a bad idea to have a CNAME target which starts
> with an underscore, although I suppose you could have a CNAME which points
> to a CNAME which points to an A record.
>
> Not sure how best to fix this - I prefer the validation to be as tight as
> possible but at the moment it seems to be too restrictive. Let me do some
> digging to find out what the rules are for various DNS records.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/pwaring/dns-sync-zone/issues/47#issuecomment-707948499>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAHYHTH5KETUXNNDFRPUS33SKSQMVANCNFSM4QJLBUNQ>
> .
>


I've tested via the Mythic Beasts control panel and underscores are allowed as the start of the CNAME target, so this will at least pass the API.

Bit more digging suggests that underscores are actually valid from a DNS perspective in labels, including A + AAAA. However, it's a Bad Idea to create A records for hostnames like _host.example.org because some resolvers will reject them, which is possibly why the API also rejects such records.

Still thinking about the best way to solve this without causing other tests to fail or allowing through records that will be rejected by the API. I'll have another go next week.

Right, I think I have fixed this. I needed to make the following changes:

* Remove 2 tests which considered `_test` to be an invalid label.
* Add 1 test to make sure that `_test` is a valid label.
* Change regex to allow underscores in labels.

This allows the following CNAME, based on your example:

`_d116ebb575717ff048d6863ef27f41c0.campaigns 300 CNAME _88686c5d780ef04c5719a8b22353ea11.bsgbmzkfwj.acm-validations.aws.`

If you lookup `_d116ebb575717ff048d6863ef27f41c0.campaigns.dnstest.uk` you should get back `_88686c5d780ef04c5719a8b22353ea11.bsgbmzkfwj.acm-validations.aws.`:

```
dig +short _d116ebb575717ff048d6863ef27f41c0.campaigns.dnstest.uk
_88686c5d780ef04c5719a8b22353ea11.bsgbmzkfwj.acm-validations.aws.
```

Unfortunately the script does allow through records like `_host 10 A 12.13.24.15`, which will be rejected by the API. I'm undecided as to what to do about this, as I think the API is wrong to reject the record but perhaps the script should replicate this bug.

I've pushed v4.0.0 which should fix this issue. Please let me know if it does (or doesn't!) solve it for you.

@davepage-mcr @thinkl33t Has 4.0.0 fixed the issue for you?

Yes, thanks!

On Thu, 17 Dec 2020, 09:37 Paul Waring, <notifications@github.com> wrote:

> @davepage-mcr <https://github.com/davepage-mcr> @thinkl33t
> <https://github.com/thinkl33t> Has 4.0.0 fixed the issue for you?
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/pwaring/dns-sync-zone/issues/47#issuecomment-747325626>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAHYHTB2TE2A4SOFHYL533LSVHGMPANCNFSM4QJLBUNQ>
> .
>


Great! Thanks for the report and your help.